# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Unity specific folders and extensions
# Ignore hidden files
.*

# Ignore temporary files
*.tmp

# Ignore Unity generated folders
Temp/
Build/
*/Library/
*/UserSettings/
*/OffGame/

# Ignore other Unity related files if necessary
*.userprefs
/SON/soundPlayground/Library
/SON/soundPlayground/Logs
/SON/finalProjç/PineSoundsOnPizza/Library
/SON/finalProjç/PineSoundsOnPizza/Logs
EDA/Clase del 21-12-21 (ejers backtracking optimizacion y revision de examenes de cursos anteriores).mp4
SON/finalProjç/PineappleOnPizza.mp4
SON/finalProjç/PINESOUNDSONPIZZA_EnriqueJuanGamboa-ManuelPradaMinguez.zip
SON/finalProjç/FMod_EnriqueJuanGamboa-ManuelPradaMinguez.zip
RVR/LAB_RED.ova
03_LaMitocondria.docx
*.tlog
*.log
*.ilk
*.idb
*.recipe
*.pdb
